@import "../../../styles/variables.module.pcss";

.header {
    margin-bottom: rem(26);
}

.comment {
    margin-bottom: rem(12);
}

.buttons {
    display: flex;
    align-items: center;
    margin-left: rem(-8);
    margin-right: rem(-8);
}

.commentForm {
    margin-top: rem(16);
}
