@import "../../styles/variables.module.pcss";

.formGroup {
    margin-bottom: rem(12);
}

.error {
    color: $danger;
    font-size: rem(12);
    margin-top: rem(8);
    font-weight: 600;
}

.errors {
    padding-top: rem(4);
    margin-bottom: rem(-4);
}