@import "../../styles/variables.module.pcss";

.container {
    background: $black;
    box-shadow: 0 31px 62px rgba(0, 0, 0, 0.44);
}

.canvas {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    user-select: none;
}