@import "variables.module.pcss";

@font-face {
    font-family: $decorative-font-name;
    src: url("client/fonts/jockey-one/regular.otf") format("opentype");
}

@font-face {
    font-family: $display-font-name;
    src: url("client/fonts/lalezar/Lalezar.otf") format("opentype");
}

@font-face {
    font-family: $normal-font-name;
    src: url("client/fonts/montserrat/Montserrat.otf") format("opentype");
}