@import 'variables.module.pcss';

.textPrimary {
    color: $primary!important;
}

.textSecondary {
    color: $secondary!important;
}

.miniContainer {
    max-width: 720px;
}

.dFlex {
    display: flex!important;
}

.justifyCenter {
    justify-content: center!important;
}

.directionColumn {
    flex-direction: column!important;
}

.flexAlignCenter {
    align-items: center!important;
}