@import "../../../styles/variables.module.pcss";

.comment {
    display: flex;
}

.text {
    margin-left: rem(21);
}

.profileInfo {
    margin-bottom: rem(16);
}

.commentForm {
    margin-top: rem(22);
}