@import "../../../../styles/variables.module.pcss";

.wrapper {
    input {
        display: none;
    }
}
.errors {
    color: $danger;
    font-size: rem(14);
    font-weight: bold;
    margin-top: rem(16);
    margin-bottom: rem(16);
}
