@import "../../../styles/variables.module.pcss";

.paragraph {
    color: #ffffff;
    margin-bottom: 1em;

    &_sm {
        font-size: rem(16);
    }

    &_lg {
        font-size: rem(19);

        @media (min-width: $breakpoint-sm) {
            font-size: rem(21);
        }
    }
}