@import "../../../../styles/variables.module.pcss";


.score {
    position: absolute;
    font-size: rem(18);
    font-weight: bold;
    color: $white;
    text-transform: uppercase;
    top: rem(34);
    line-height: 1;
    left: rem(32);
    pointer-events: none;
}