@import "../../styles/variables.module.pcss";

.table {
    display: table;
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    border: 1px solid #555;
    empty-cells: show;
}

.tbody {
    display: table-row-group;
}

.row {
    display: table-row;
}


.col {
    display: table-cell;
    padding: 10px;
    border: 1px solid #555;
}
