@import "../../../styles/variables.module.pcss";

.header {
    display: flex;
    align-items: center;
}
.text {
    margin-left: rem(21);
}
.title {
    display: block;
    margin-bottom: rem(15);
    font-size: rem(18);
    color: $white;
    line-height: 0.85;
    font-weight: 500;
}