@import "../../styles/variables.module.pcss";

.spacing {
    &_xxs {
        height: rem(4);
    }
    &_xs {
        height: rem(8);
    }
    &_sm {
        height: rem(16);
    }
    &_md {
        height: rem(32);
    }
    &_lg {
        height: rem(40);
    }
    &_xl {
        height: rem(80);
    }
    &_xxl {
        height: rem(120);
    }
}