@import "../../../../styles/variables.module.pcss";

.screen {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.alertTitle {
    pointer-events: none;
    font-size: rem(18);
    font-weight: bold;
    margin-bottom: rem(32);
    color: $white;
}