@import "../../styles/variables.module.pcss";

.profile {
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-md) {
        flex-direction: row;
    }
}

.editProfile {
    margin-bottom: 40px;
    @media (min-width: $breakpoint-md) {
        margin-bottom: 0;
    }
}

.info {
    flex-grow: 1;
    margin-left: 0;

    @media (min-width: $breakpoint-md) {
        margin-left: 78px;
    }
}