@import "../../styles/variables.module.pcss";

.button {
    font-size: rem(14);
    line-height: 0.93;
    font-family: $display-font-family;
    padding: em(12, 14) em(8, 14) em(10, 14);
    margin-right: rem(10);
    color: $primary;
}

._reply,
._send {
    font-size: rem(18);
}

.buttons {
    display: flex;
    align-items: center;
    margin-left: rem(-8);
    margin-right: rem(-8);
}