@import "../../styles/variables.module.pcss";

.layout {
    background-color: transparent;
    transition: 0.3s ease background-color;
}

._isLoading {
    background-color: $white;
}

.minHeight {
    min-height: calc(100vh - 215px);
}

.headerOverlap {
    padding-top: 108px;
}

.title {
    margin-bottom: 0 !important;
}

.container {
    padding-top: 60px;
    padding-bottom: 52px;
}