@import "../../styles/variables.module.pcss";

.infoBar {
    display: flex;
    align-items: center;
    font-size: rem(12);
}

.item {
    color: $gray;
    font-weight: 500;
}

.dot {
    height: 4px;
    width: 4px;
    min-width: 4px;
    flex: 0 0 4px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: $white;
}
