@import "../../styles/variables.module.pcss";

.login {
    min-height: calc(100vh - 108px);
    display: flex;
    align-items: center;
}


.title {
    font-size: rem(96);
    color: $primary;
    font-family: $decorative-font-name;
    line-height: 0.82;
    margin-bottom: rem(52);

    @media (max-width: $breakpoint-md) {
        font-size: rem(50);
    }
}

.buttonWrapper {
    margin-top: rem(35);
}

.inner {
    flex-grow: 1;
}