@import '../../styles/variables.module.pcss';

.logo {
    font-family: $decorative-font-family;
    font-weight: normal;
    color: $primary;
    position: relative;
    line-height: 0.84;
    z-index: 901;
    font-size: rem(35);
}