@import "../../styles/variables.module.pcss";

.avatar {
    height: 58px;
    width: 58px;
    border-radius: 50%;
    overflow: hidden;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}