@import "../../styles/variables.module.pcss";

.avatar {
    border-radius: 50%;
    overflow: hidden;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

._sm {
    height: 58px;
    width: 58px;
}

._xl {
    height: 228px;
    width: 228px;
}