@import "../../../../styles/variables.module.pcss";

.container {
    min-height: 200px;
    position: relative;

    @media (min-width: $breakpoint-md) {
        min-height: 300px;
    }

    @media (min-width: $breakpoint-lg) {
        min-height: 350px;
    }

    @media (min-width: $breakpoint-xl) {
        min-height: 450px;
    }
}